@import '../helpers/style';

@mixin feedbackColor($color) {

    &.Feedback--#{$color} {
        color: color($color, 500);

        .Feedback-badge {
            background: color($color, 500);
        }

        .Feedback-item {
            border-color: color($color, 100);
        }

        .Feedback-name {

        }

        .Feedback-text {
            color: color($color, 900);
        }

        .Feedback-starIcon .Icon {
            fill: color($color, 500);
        }
    }
}

.Feedback {
    $colors: gray, red, orange, green, blue;
    list-style: none;
    margin: 0;
    padding: 0 space(500);

    @each $color in $colors {
        @include feedbackColor($color);
    }

    &-item {
        display: flex;
        padding: space(500) 0;

        &:nth-of-type(1n+2) {
            border-top: 1px solid;
        }
    }

    &-badge {
        $size: space(600);
        border-radius: 50%;
        height: $size;
        overflow: hidden;
        position: relative;
        width: $size;
    }

    &-badgeIcon {
        $size: 1.25rem;
        $offset: $size / 2;
        height: $size;
        left: 50%;
        margin: -#{$offset} 0 0 -#{$offset};
        position: absolute;
        top: 50%;
        width: $size;

        .Icon {
            fill: white;
        }
    }

    &-content {
        flex-grow: 1;
        padding: 0 space(500) 0 space(300);
        width: 0;
    }

    &-name {
        display: block;
    }

    &-text {

    }

    &-options {
        display: flex;
        width: 80px;
    }

    &-star {
        width: 50%;
    }

    &-starIcon {
        $size: 1.75rem;
        height: $size;
        width: $size;
    }

    &-starTally {

    }

    &-miniMenu {
        width: 50%;
    }
}
