@import '../helpers/all';

.Container-feedback {
    list-style: none;
    margin: 0;
    padding: 0;

    &.isEmpty {
        padding-top: space(500);
    }
}

@mixin feedbackColor($color) {

    &.Feedback--#{$color} {
        color: color($color, 500);

        &:before {
            background: color($color, 100);
        }

        .Feedback-text {
            color: color($color, 900);
        }

        .Feedback-lastEditLabel {
            color: color($color, 300);
        }

        .Feedback-starIcon .Icon {
            fill: color($color, 500);
        }
    }
}

@mixin feedbackIsActive {
    opacity: 1;
    transform: translateX(0);
}

@mixin feedbackIsClosed {
    opacity: 0;
    transform: translateX(space(500));
}


@keyframes feedbackIsActive {

    0% {
        @include feedbackIsClosed;
    }
    100% {
        @include feedbackIsActive;
    }
}

@keyframes feedbackIsHidden {

    0% {
        @include feedbackIsActive;
    }
    100% {
        @include feedbackIsClosed;
    }
}

.Feedback {
    animation: {
        duration: speed(500);
        fill-mode: forwards;
        name: feedbackIsActive;
    }
    display: flex;
    padding: space(500);
    padding-right: space(300);
    position: relative;

    @each $color in $G-allColors {
        @include feedbackColor($color);
    }

    &.isHidden {
        animation: {
            duration: speed(500);
            fill-mode: forwards;
            name: feedbackIsHidden;
        }
    }

    &:nth-of-type(1n+2):before {
        content: '';
        display: block;
        height: 1px;
        left: space(500);
        position: absolute;
        right: space(500);
        top: 0;
    }

    &-content {
        flex-grow: 1;
        padding: 0 space(500) 0 space(300);
        width: 0;
    }

    &-name {
        display: block;
        font-weight: fontWeight(700);
    }

    &-text {
        font-size: fontSize(300);
    }

    &-lastEdit {
        display: block;
        font: {
            size: fontSize(200);
            weight: fontWeight(700);
        }
        padding-top: space(300);
        text-transform: uppercase;
    }

    &-lastEditLabel {
        padding-right: space(300);
    }
}
