@import '../helpers/style';

.Container-feedback {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin feedbackColor($color) {

    &.Feedback--#{$color} {
        color: color($color, 500);

        &:nth-of-type(1n+2) {
            border-top: 1px solid color($color, 100);
        }

        .Feedback-name {

        }

        .Feedback-text {
            color: color($color, 900);
        }

        .Feedback-starIcon .Icon {
            fill: color($color, 500);
        }
    }
}

.Feedback {
    display: flex;
    padding: space(500);
    padding-right: space(300);

    @each $color in $G-allColors {
        @include feedbackColor($color);
    }

    &-content {
        flex-grow: 1;
        padding: 0 space(500) 0 space(300);
        width: 0;
    }

    &-name {
        display: block;
        font-weight: fontWeight(700);
    }

    &-text {
        font-size: fontSize(300);
    }

    &-options {
        display: flex;
        width: 80px;
    }

    &-starRating,
    &-miniMenu {
        width: 50%;
    }
}
