@import '../helpers/all';

@mixin addButtonColor($color, $tint: 500) {

    &.StandardButton--#{$color} .StandardButton-button{
        background: color($color, 500);

        &:focus,
        &:hover {
            background: color($color, 900);
        }
    }

    &.StandardButton--#{$color}.StandardButton--dark .StandardButton-button{
        background: color($color, 700);

        &:focus,
        &:hover {
            background: color($color, 900);
        }
    }
}

.StandardButton {
    padding: space(300);

    @each $color in $G-allColors {
        @include addButtonColor($color);
    }

    &-button {
        @include buttonReset;
        color: white;
        display: block;
        padding: space(200) space(500);
        transition: background speed(300);
    }
}
