@import '../helpers/style';

.Modal {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: {
        duration: speed(500);
        property: opacity;
    }
    width: 100%;

    &.isActive {
        opacity: 1;
        pointer-events: auto;

        .Modal-content {
            transform: translateY(0);
        }
    }

    &-overlay {
        background: rgba(white, 0.85);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &-content {
        max-width: 62.5rem;
        padding: space(500);
        position: relative;
        transform: translateY(space(500));
        transition: {
            duration: speed(500);
            property: transform;
        }
        width: 100%;
    }

    &-close {
        $offset: space(700);
        $size: space(500);
        @include buttonReset;
        height: $size;
        position: absolute;
        right: $offset;
        top: $offset;
        width: $size;

        .Icon {
            fill: white;
        }
    }
}
