@import '../helpers/style';

.Modal {
    align-items: center;
    background: rgba(white, 0.85);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: {
        duration: speed(500);
        property: opacity;
    }
    width: 100%;

    &.isActive {
        opacity: 1;
        pointer-events: auto;

        .Modal-content {
            transform: translateY(0);
        }
    }

    &-content {
        max-width: 62.5rem;
        padding: space(500);
        transform: translateY(space(500));
        transition: {
            duration: speed(500);
            property: transform;
        }
        width: 100%;
    }
}
