@import '../helpers/all';

.Container-user {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.User {
    display: flex;
    padding: space(300);

    &.isThisUser {
        padding-right: 0;

        .MiniMenu-toggle {

            .Icon {
                fill: color(gray, 900);
            }
        }
    }

    &:not(.isThisUser) {
        opacity: 0.5;
    }
}
