@import '../helpers/all';

@mixin addButtonColor($color) {

    &.FeatureButton--#{$color} .FeatureButton-toggle {
        background: color($color, 900);

        &:before {
            border-color: color($color, 900);
        }
    }
}

@keyframes featureButtonFocus {

    0% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    99% {
        opacity: 0;
        transform: scale(3);
    }
    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

.FeatureButton {
    height: 0;
    position: relative;

    @each $color in $G-allColors {
        @include addButtonColor($color);
    }

    &-toggle {
        @include buttonReset;
        border-radius: 50%;
        bottom: -#{space(300)};
        box-shadow: 0 2px 7px rgba(black, 0.3);
        height: space(700);
        position: absolute;
        right: space(500);
        width: space(700);

        &:before {
            border: 0.5rem solid;
            border-radius: 50%;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            opacity: 0.5;
            position: absolute;
            top: 0;
            transition: {
                duration: speed(500);
                property: opacity, transform;
            }
            width: 100%;
        }

        &:hover:before {
            transform: scale(1.2);
        }

        &:focus:before {
            animation: {
                duration: speed(500);
                name: featureButtonFocus;
            }
        }
    }

    &-icon {
        $size: 2.2rem;
        display: inline-block;
        height: $size;
        width: $size;
    }

    .Icon {
        fill: white;
    }
}
