@import '../helpers/style';

@mixin addButtonColor($color) {

    &.FeatureButton--#{$color} .FeatureButton-toggle {
        background: color($color, 900);
    }
}

.FeatureButton {
    height: 0;
    position: relative;

    @each $color in $G-allColors {
        @include addButtonColor($color);
    }

    &-toggle {
        @include buttonReset;
        border-radius: 50%;
        bottom: -#{space(300)};
        height: space(700);
        position: absolute;
        right: space(500);
        width: space(700);
    }

    &-icon {
        $size: 2.2rem;
        display: inline-block;
        height: $size;
        width: $size;
    }

    .Icon {
        fill: white;
    }
}
