@import '../helpers/style';

@mixin addButtonColor($color) {

    &.TextArea--#{$color} {

        .TextArea-label {
            color: color($color, 300);
        }

        .TextArea-input {
            color: color($color, 900);
        }

        .TextArea-focus {
            background: color($color, 300);

            &:before {
                background: color($color, 500);
            }
        }

        &.isPopulated .TextArea-label,
        .TextArea-input:focus ~ .TextArea-label {
            color: color($color, 500);
        }
    }
}

.TextArea {
    display: flex;
    flex-wrap: wrap;
    padding: space(300);

    @each $color in $G-allColors {
        @include addButtonColor($color);
    }

    > * {
        display: block;
        width: 100%;
    }

    &-input {
        border: 0;
        outline: 0;
        padding: 0 0 1rem;
        transition: padding speed(300);
    }

    &-label {
        font-weight: fontWeight(700);
        order: -1;
        transform: translateY(1rem);
        transform-origin: left bottom;
        transition: {
            duration: speed(300);
            property: color, transform;
        }
    }

    &-focus {
        height: 1px;
        position: relative;

        &:before {
            content: '';
            display: block;
            height: 300%;
            left: 50%;
            position: absolute;
            transform: scaleX(0) translateX(-50%);
            transform-origin: left center;
            transition: transform speed(300);
            width: 100%;
        }
    }

    &.isPopulated .TextArea-input,
    &-input:focus {
        padding: 1rem 0 1.3rem;
    }

    &.isPopulated .TextArea-label,
    &-input:focus ~ .TextArea-label {
        transform: scale(0.8) translateY(-0.5rem);
    }

    &.isPopulated .TextArea-focus:before,
    &-input:focus ~ .TextArea-focus:before {
        transform: scaleX(1) translateX(-50%);
    }
}
