@import '../helpers/style';

@mixin addButtonColor($color) {

    &.TextInput--#{$color} {

        .TextInput-label {
            color: color($color, 300);
        }

        .TextInput-input {
            color: color($color, 900);
        }

        .TextInput-focus {
            background: color($color, 300);

            &:before {
                background: color($color, 500);
            }
        }

        &.isPopulated .TextInput-label,
        .TextInput-input:focus ~ .TextInput-label {
            color: color($color, 500);
        }
    }
}

.TextInput {
    display: flex;
    flex-wrap: wrap;
    padding: space(300);

    @each $color in $G-allColors {
        @include addButtonColor($color);
    }

    > * {
        display: block;
        width: 100%;
    }

    &-input {
        border: 0;
        outline: 0;
        padding: 0 0 0.5rem;
    }

    &-label {
        font-weight: fontWeight(700);
        order: -1;
        transform: translateY(1rem);
        transform-origin: left bottom;
        transition: {
            duration: speed(300);
            property: color, transform;
        }
    }

    &-focus {
        height: 1px;
        position: relative;

        &:before {
            content: '';
            display: block;
            height: 300%;
            left: 50%;
            position: absolute;
            transform: scaleX(0) translateX(-50%);
            transform-origin: left center;
            transition: transform speed(300);
            width: 100%;
        }
    }

    &.isPopulated .TextInput-label,
    &-input:focus ~ .TextInput-label {
        transform: scale(0.8) translateY(-0.5rem);
    }

    &.isPopulated .TextInput-focus:before,
    &-input:focus ~ .TextInput-focus:before {
        transform: scaleX(1) translateX(-50%);
    }
}
