@import '../helpers/style';

@mixin shellColor($color) {

    &.Shell--#{$color} .Shell-header {
        background: color($color, 500);
    }
}

.Shell {
    @include paperDepth;
    background: white;

    @each $color in $G-allColors {
        @include shellColor($color);
    }

    &-header {

    }

    &-heading {
        color: white;
        font-size: fontSize(700);
        margin: 0;
        padding: space(500);
    }
}
