@import '../helpers/style';

@mixin shellColor($color) {

    &.Shell--#{$color} .Shell-header {
        background: color($color, 500);
    }
}

.Shell {
    $colors: gray, red, orange, green, blue;
    @include paperDepth;
    background: white;

    @each $color in $colors {
        @include shellColor($color);
    }

    &-header {

    }

    &-heading {
        color: white;
        margin: 0;
        padding: space(500);
    }
}
