@import '../helpers/all';

@mixin miniMenuColor($color) {

    &.MiniMenu--#{$color} {
        color: color($color, 500);

        .MiniMenu-icon .Icon {
            fill: color($color, 500);
        }

        .MiniMenu-optionButton {

            &:hover {
                color: color($color, 900);
            }

            &:before {
                background: color($color, 100);
            }
        }
    }
}

@mixin miniMenuIsActive {
    height: auto;
    opacity: 1;
    transform: translateY(0);
}

@mixin miniMenuIsClosed {
    height: 0;
    opacity: 0;
    transform: translateY(space(300));
}

@keyframes miniMenuIsActive {

    0% {
        @include miniMenuIsClosed;
    }
    100% {
        @include miniMenuIsActive;
    }
}

@keyframes miniMenuIsClosed {

    0% {
        @include miniMenuIsActive;
    }
    99% {
        height: auto;
        opacity: 0;
        transform: translateY(space(300));
    }
    100% {
        @include miniMenuIsClosed;
    }
}

.MiniMenu {
    position: relative;
    // z-index: 1;
    transform-style: flat;

    @each $color in $G-allColors {
        @include miniMenuColor($color);
    }

    &.isActive {
        // transform: translateZ(1000px);
        // transform-style: preserve-3d;
        z-index: zIndex(100);

        .MiniMenu-toggle {
            pointer-events: none;
        }

        .MiniMenu-options {
            animation: {
                duration: speed(300);
                fill-mode: forwards;
                name: miniMenuIsActive;
            }
        }
    }

    &.isDormant .MiniMenu-options {
        animation: {
            duration: speed(300);
            fill-mode: forwards;
            name: miniMenuIsClosed;
        }
    }

    &-toggle {
        $size: space(600);
        @include anchorReset;
        display: block;
        height: $size;
        opacity: 0.5;
        position: relative;
        transition: opacity speed(300);
        width: $size;
    }

    &-icon {
        $size: 2.1rem;
        display: block;
        height: $size;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: $size;
    }

    &-options {
        @include paperDepth;
        @include miniMenuIsClosed;
        background: white;
        list-style: none;
        overflow: hidden;
        padding: 0;
        position: absolute;
        right: 0;
        top: 100%;
    }

    &-option {
        padding: 0;

        &:nth-of-type(1n+2) .MiniMenu-optionButton:before {
            content: '';
            display: block;
            height: 1px;
            left: space(500);
            position: absolute;
            right: space(500);
            top: 0;
        }

        &:first-of-type .MiniMenu-optionButton {
            padding-top: space(500);
        }

        &:last-of-type .MiniMenu-optionButton {
            padding-bottom: space(500);
        }
    }

    &-optionButton {
        @include buttonReset;
        padding: space(300) space(500);
        position: relative;
        text-align: left;
        transition: color speed(300);
        width: 100%;
    }
}
