@import '../helpers/all';

@mixin badgeColor($color) {

    &.Lockup--#{$color} {

        .Lockup-name {
            color: color($color, 500);
        }

        &.Lockup--interactive:hover {

            .Badge {
                background: color($color, 900);
            }

            .Lockup-name {
                color: color($color, 900);
            }
        }
    }
}

.Lockup {
    @include buttonReset;
    display: flex;
    align-items: center;
    text-decoration: none;

    @each $color in $G-allColors {
        @include badgeColor($color);
    }

    &-name {
        font-weight: fontWeight(700);
        padding-left: space(300);
        transition: color speed(300);
    }
}
