@import '../helpers/style';

.Container-topic {
    display: flex;
    flex-wrap: wrap;
    padding: space(300);
}

.Topic {
    padding: space(300);
    width: 50%;

    // &.Topics-topic--red {
    //     border-color: red;
    //     color: red;
    //
    //     * {
    //         color: inherit
    //     };
    // }
}
