@import '../helpers/style';

.Container-topic {
    padding: space(300);

    @include media('>=500') {
        column: {
            count: 2;
            gap: 0;
        }
    }
}

.Topic {
    column-break-inside: avoid;
    padding: space(300);
}
